
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validation/jquery.validate.min.js"></script>
</head>
<body class="bg-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form id="createCustomer" asp-action="Register" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="customer_name" type="text" placeholder="name@example.com" />
                                            <label for="inputEmail">Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="customer_email" type="email" placeholder="name@example.com" />
                                            <label for="inputEmail">Email address</label>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="customer_password" type="password" placeholder="Create a password" />
                                                    <label for="inputPassword">Password</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-5">
                                                    <input class="form-control" name="customer_phone" type="text" placeholder="phone number" />
                                                    <label for="phoneNumber">Mobile Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <select name="customer_id_gender" class="form-control">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <select name="customer_country" class="form-control">
                                                        <option>Jammu Kashmir</option>
                                                        <option>Pakistan</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" name="customer_id_city" type="text" placeholder="City" />
                                                    <label for="Cityr">City</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" name="customer_address" type="text" placeholder="Address" />
                                                    <label for="phoneNumber">Address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Create an Account" /></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Login","Home")">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script>
        $('#createCustomer').validate({
            rules: {
                customer_name: { required: true },//minlength: 1,//maxlength: 100},
                customer_email: { required: true, maxlength: 100 },
                customer_password: { required: true, maxlength: 100 },
                customer_phone: { required: true, maxlength: 100 },
                customer_id_gender: { maxlength: 500 },
                customer_country: { required: true },
                customer_id_city: { required: true },
                customer_address: { required: true }
            },
            messages:
            {
                customer_name: { required: 'Name is required', minlength: 'Minimum length is 1', maxlength: 'Maximum length is 50' },
                customer_email: { required: 'Email is Required' },
                customer_password: { required: 'Password is Required' },
                customer_phone: { required: 'Mobile No is Required' },
                customer_id_gender: { required: 'Gender is Required' },
                customer_country: { required: 'Country is Required' },
                customer_id_city: { required: 'City is Required' },
                customer_address: { required: 'Address is Required' }

            }
        }
        );
    </script>
</body>
</html>