<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Add New Category</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post">
            
            <input type="text" name="category_name" class="form-control my-3" />
            
            <input type="submit" value="Add Category" class="form-control my-3 btn btn-primary" />
        </form>
    </div>
    <div class="col-md-2"></div>
</div>