@model List<Customer>
@{
    ViewData["Title"] = "ShowOrders";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>ShowOrders</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.customer_id</td>
                        <td>@item.customer_name</td>
                        <td><a href="@Url.Action("OrderDetails","Admin",new {cust_id=item.customer_id})" class="btn btn-primary">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

